
html,
body {
  overflow-y: auto;
  height: auto;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
  color: white;
}

.navLinks {
  text-align: center;
  align-content: center;
}
.navLinks a {
  text-decoration: none;
  margin-left: 40px;
}
.getStarted {
 
  text-decoration: none;
  /* align-content: center; */
  align-self: center;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.img {
  width: 100%;
  margin-left: 200px;
}

.textDiv {
  text-align: justify;
  width: 2000px;
}
.started {
  background-color: black;
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  margin-top: 50px;
}

.your_wallet {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.hello {
  /* background-color: #0f172a; */
  /* background-color: aliceblue; */

    background-color: #374151;

/* background-color: #0f172a;  */



}
.bigi {
  margin-top: 120px;
}
.hanging-indent {
  padding-left: 2.5em;
  text-indent: -1.5em;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nins{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}